body {
    background-color: #696969;
    background-image:  radial-gradient(#808080 0.1px, #202020 1px);
    background-size: 20px 20px;
}

.mainCanvas canvas {
    background-color: #181818;
    width: 45vh;
    height: auto;
}

.sideCanvases canvas {
    background-color: #181818;
    max-width: 20vh;
    height: auto;
}

.logo {
    width: min(20vw, 20vh);
}

.leftCol {
    max-width: 20vw;
}

.rightCol {
    max-width: 80vw;
}